_format_version: "2.1"

services:
  - name: meta
    url: http://meta:8080
    routes:
      - name: meta
        paths:
          - /pg

  - name: db
    url: http://db:5432
    
_plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Authorization
        - Content-Type
        - X-Client-Info
      exposed_headers:
        - X-Total-Count
      credentials: true
      max_age: 3600
