[Unit]
Description=PocketBase - Tracker HACCP
After=network.target

[Service]
Type=simple
ExecStart=/opt/haccp/pocketbase/pocketbase serve --http=0.0.0.0:80 --dir=/opt/haccp/pocketbase/pb_data --migrationsDir=/opt/haccp/pocketbase/pb_migrations --publicDir=/opt/haccp/pocketbase/pb_public
WorkingDirectory=/opt/haccp/pocketbase
Restart=always
RestartSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
